Django==5.2.17
python-dotenv==1.2.3
django-crispy-forms==2.7
crispy-bootstrap5==2026.9
django-debug-toolbar==8.0.0
whitenoise==6.12.0
dj-database-url==3.1.2
psycopg[binary]==3.3.6
flake8==7.4.1
flake8-quotes==3.4.0
flake8-variables-names==0.0.6
pep8-naming==0.15.1
