{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}{% if object %}Edit team{% else %}New team{% endif %}{% endblock %}

{% block topbar %}
  <div class="min-w-0">
    {% if object %}
      <a class="tm-breadcrumb" href="{{ object.get_absolute_url }}"><i class="bi bi-arrow-left me-1"></i>{{ object.name }}</a>
      <h1 class="tm-page-title mt-1">Edit team</h1>
    {% else %}
      <a class="tm-breadcrumb" href="{% url 'task_manager:team-list' %}"><i class="bi bi-arrow-left me-1"></i>Teams</a>
      <h1 class="tm-page-title mt-1">New team</h1>
    {% endif %}
  </div>
{% endblock %}

{% block content %}
  <form method="post" class="tm-card" style="max-width: 720px" novalidate>
    {% csrf_token %}
    <div class="tm-card-body">
      {{ form.name|as_crispy_field }}
      {% include "includes/checkbox_list.html" with field=form.members %}
    </div>
    <div class="tm-card-header border-top border-bottom-0 justify-content-end">
      <a class="btn btn-light" href="{% if object %}{{ object.get_absolute_url }}{% else %}{% url 'task_manager:team-list' %}{% endif %}">Cancel</a>
      <button class="btn btn-primary" type="submit">{% if object %}Save changes{% else %}Create team{% endif %}</button>
    </div>
  </form>
{% endblock %}
